@{

}

@model Appointment

<h1>Input your information for a tour!</h1>

<form method="post" asp-controller="Home" asp-action="Form">

    <div asp-validation-summary="All" class="text-danger"></div>

    <input type="hidden" asp-for="AppointmentID" value="@Model.AppointmentID" />

    <div class="form-group">
        <label asp-for="TimeSlot">Date: </label>
        <input asp-for="TimeSlot" disabled class="form-control" value="@Model.TimeSlot" />
    </div>


    <div class="form-group">
        <label asp-for="GroupName">Group Name: </label>
        <input asp-for="GroupName" value="" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="GroupSize">Group Size: </label>
        <input asp-for="GroupSize" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="Email">Email: </label>
        <input asp-for="Email" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="Phone">Phone Number: </label>
        <input asp-for="Phone" class="form-control" />
    </div>

    <div class="float-end">
        <input class="btn btn-primary" type="submit" value="Sign Up" />
    </div>

</form>
