@{
    ViewData["Title"] = "Home Page";
}

<h1>Temples page</h1>


<p>
    This page will have a picture of the temple and the basic information
    regarding the tour, along with the ability to click a button to “Sign Up” for a tour
</p>


<h1>this is a button to something else</h1>
