@{
    ViewData["Title"] = "Layton Temple";
}

<div class="container text-lg-center">
    <h1>Layton Utah Temple Tours</h1>
    <img src="~/img/layton-utah-temple-6932-main.jpeg" />
</div>

<!--Bad caden, no delete-->
<br />
<div class="container">
    <h2>Info</h2>
    <p>We will meet groups at the meetinghouse across the street from the temple.
    We are trying to facilitate as many groups as possible, so please only sign up when you can commit to 
    coming on the selected date and time. We have a lot of last-minute cancellations.</p>
    <p>We can do groups on Saturday, by special request. If you want to do this, please text me at 801-628-4488.</p>
    
    <h2>General Tour Instructions:</h2>
    <ul>
        <li>
            Park on Rosewood (west side of the temple) and meet at the Visitor's Center trailer.
        </li>
        <li>
            Dress casual, except on Sunday
        </li>
        <li>
            Special Accomodations (check the appropriate box when signing up for a tour):
            <ul>
                <li>
                    Spanish-speaking tours are available, by request
                </li>
            </ul>
        </li>
    </ul>

    <h2>Available Tours:</h2>
    <ul>
        <li>
            Tour (Outdoor): We will walk on the sidewalk along Oak Hills and on Rosewood in front of the temple on
            uneven surfaces, please wear strudy shoes.
        </li>
        <li>
            Trailer Tour: On Sunday. Masks are required.
        </li>
    </ul>

    <h4>Please call or text 801-628-4488 with questions or special requests.</h4>
</div>

