@{

}

<!--this needs to have a list of a bunch of times you can sign up for a tour-->
<h1>Sign up for a time slot!</h1>

<a class="btn btn-primary" style="width:100%" href="/Home/Form">8 A.M.</a>
<br /><br />
<a class="btn btn-primary" style="width:100%" href="">9 A.M.</a>
<br /><br />
<a class="btn btn-primary" style="width:100%" href="">10 A.M.</a>
<br /><br />
<a class="btn btn-primary" style="width:100%" href="">11 A.M.</a>
<br /><br />
<a class="btn btn-primary" style="width:100%" href="">12 P.M.</a>
<br /><br />
<a class="btn btn-primary" style="width:100%" href="">1 P.M.</a>
<br /><br />
<a class="btn btn-primary" style="width:100%" href="">2 P.M.</a>
<br /><br />
<a class="btn btn-primary" style="width:100%" href="">3 P.M.</a>
<br /><br />
<a class="btn btn-primary" style="width:100%" href="">4 P.M.</a>
<br /><br />
<a class="btn btn-primary" style="width:100%" href="">5 P.M.</a>
<br /><br />
<a class="btn btn-primary" style="width:100%" href="">6 P.M.</a>
<br /><br />
<a class="btn btn-primary" style="width:100%" href="">7 P.M.</a>
<br /><br />
<a class="btn btn-primary" style="width:100%" href="">8 P.M.</a>
<br />