@{

}

@model Appointment
<!--this needs to have a list of a bunch of times you can sign up for a tour-->
<h1>Sign up for a time slot!</h1>


<form method="get" asp-controller="Home" asp-action="Form">
    <!--<input type="hidden" asp-for="AppointmentId" value="Model.AppointmentId" />-->
    <input type="submit" class="btn btn-primary" style="width:100%" value="8 A.M.">
</form>

<br />
<form method="get" asp-controller="Home" asp-action="Form">
    <input type="submit" class="btn btn-primary" style="width:100%" value="9 A.M.">
</form>

<br />
<form method="get" asp-controller="Home" asp-action="Form">
    <input type="submit" class="btn btn-primary" style="width:100%" value="10 A.M.">
</form>

<br />
<form method="get" asp-controller="Home" asp-action="Form">
    <input type="submit" class="btn btn-primary" style="width:100%" value="11 A.M.">
</form>

<br />
<form method="get" asp-controller="Home" asp-action="Form">
    <input type="submit" class="btn btn-primary" style="width:100%" value="12 A.M.">
</form>

<br />
<form method="get" asp-controller="Home" asp-action="Form">
    <input type="submit" class="btn btn-primary" style="width:100%" value="1 P.M.">
</form>

<br />
<form method="get" asp-controller="Home" asp-action="Form">
    <input type="submit" class="btn btn-primary" style="width:100%" value="2 P.M.">
</form>

<br />
<form method="get" asp-controller="Home" asp-action="Form">
    <input type="submit" class="btn btn-primary" style="width:100%" value="3 P.M.">
</form>

<br />
<form method="get" asp-controller="Home" asp-action="Form">
    <input type="submit" class="btn btn-primary" style="width:100%" value="4 P.M.">
</form>

<br />

<form method="get" asp-controller="Home" asp-action="Form">
    <input type="submit" class="btn btn-primary" style="width:100%" value="5 P.M.">
</form>

<br />

<form method="get" asp-controller="Home" asp-action="Form">
    <input type="submit" class="btn btn-primary" style="width:100%" value="6 P.M.">
</form>

<br />
<form method="get" asp-controller="Home" asp-action="Form">
    <input type="submit" class="btn btn-primary" style="width:100%" value="7 P.M.">
</form>

<br />

<form method="get" asp-controller="Home" asp-action="Form">
    <input type="submit" class="btn btn-primary" style="width:100%" value="8 P.M.">
</form>

<br />