@{

}

@model Appointment
<!--this needs to have a list of a bunch of times you can sign up for a tour-->
<h1>Sign up for a time slot!</h1>


<form method="post" asp-controller="Home" asp-action="SignUp">

    <input type="hidden" asp-for="AppointmentId" value="1" />
    <input type="hidden" asp-for="Time" value="8 A.M." />
    <input type="hidden" asp-for="Date" value="04/01/22" />

    <button type="submit" class="btn btn-primary" style="width:100%">8 A.M.</button>
</form>

<br />

<form method="post" asp-controller="Home" asp-action="SignUp">

    <input type="hidden" asp-for="AppointmentId" value="2" />
    <input type="hidden" asp-for="Time" value="9 A.M." />
    <input type="hidden" asp-for="Date" value="04/01/22" />

    <button type="submit" class="btn btn-primary" style="width:100%">9 A.M.</button>
</form>

<br />


<form method="post" asp-controller="Home" asp-action="SignUp">

    <input type="hidden" asp-for="AppointmentId" value="3" />
    <input type="hidden" asp-for="Time" value="10 A.M." />
    <input type="hidden" asp-for="Date" value="04/01/22" />

    <button type="submit" class="btn btn-primary" style="width:100%">10 A.M.</button>
</form>

<br />


<form method="post" asp-controller="Home" asp-action="SignUp">

    <input type="hidden" asp-for="AppointmentId" value="4" />
    <input type="hidden" asp-for="Time" value="11 A.M." />
    <input type="hidden" asp-for="Date" value="04/01/22" />

    <button type="submit" class="btn btn-primary" style="width:100%">11 A.M.</button>
</form>

<br />


<form method="post" asp-controller="Home" asp-action="SignUp">

    <input type="hidden" asp-for="AppointmentId" value="5" />
    <input type="hidden" asp-for="Time" value="12 P.M." />
    <input type="hidden" asp-for="Date" value="04/01/22" />

    <button type="submit" class="btn btn-primary" style="width:100%">12 P.M.</button>
</form>

<br />


<form method="post" asp-controller="Home" asp-action="SignUp">

    <input type="hidden" asp-for="AppointmentId" value="6" />
    <input type="hidden" asp-for="Time" value="1 P.M." />
    <input type="hidden" asp-for="Date" value="04/01/22" />

    <button type="submit" class="btn btn-primary" style="width:100%">1 P.M.</button>
</form>

<br />


<form method="post" asp-controller="Home" asp-action="SignUp">

    <input type="hidden" asp-for="AppointmentId" value="7" />
    <input type="hidden" asp-for="Time" value="2 P.M." />
    <input type="hidden" asp-for="Date" value="04/01/22" />

    <button type="submit" class="btn btn-primary" style="width:100%">2 P.M.</button>
</form>

<br />


<form method="post" asp-controller="Home" asp-action="SignUp">

    <input type="hidden" asp-for="AppointmentId" value="8" />
    <input type="hidden" asp-for="Time" value="3 P.M." />
    <input type="hidden" asp-for="Date" value="04/01/22" />

    <button type="submit" class="btn btn-primary" style="width:100%">3 P.M.</button>
</form>

<br />


<form method="post" asp-controller="Home" asp-action="SignUp">

    <input type="hidden" asp-for="AppointmentId" value="9" />
    <input type="hidden" asp-for="Time" value="4 P.M." />
    <input type="hidden" asp-for="Date" value="04/01/22" />

    <button type="submit" class="btn btn-primary" style="width:100%">4 P.M.</button>
</form>

<br />

<form method="post" asp-controller="Home" asp-action="SignUp">

    <input type="hidden" asp-for="AppointmentId" value="10" />
    <input type="hidden" asp-for="Time" value="5 P.M." />
    <input type="hidden" asp-for="Date" value="04/01/22" />

    <button type="submit" class="btn btn-primary" style="width:100%">5 P.M.</button>
</form>

<br />


<form method="post" asp-controller="Home" asp-action="SignUp">

    <input type="hidden" asp-for="AppointmentId" value="11" />
    <input type="hidden" asp-for="Time" value="6 P.M." />
    <input type="hidden" asp-for="Date" value="04/01/22" />

    <button type="submit" class="btn btn-primary" style="width:100%">6 P.M.</button>
</form>

<br />


<form method="post" asp-controller="Home" asp-action="SignUp">

    <input type="hidden" asp-for="AppointmentId" value="12" />
    <input type="hidden" asp-for="Time" value="7 P.M." />
    <input type="hidden" asp-for="Date" value="04/01/22" />

    <button type="submit" class="btn btn-primary" style="width:100%">7 P.M.</button>
</form>

<br />


<form method="post" asp-controller="Home" asp-action="SignUp">

    <input type="hidden" asp-for="AppointmentId" value="13" />
    <input type="hidden" asp-for="Time" value="8 P.M." />
    <input type="hidden" asp-for="Date" value="04/01/22" />

    <button type="submit" class="btn btn-primary" style="width:100%">8 P.M.</button>
</form>

<br />
