@inherits LayoutComponentBase


<div class="bg-dark text-white p-2">
<span class="navbar-brand m-lg-2">Layton Temple Tours</span>
<div style="text-align: right">
    <a class="btn btn-primary" asp-page="/SignUp">Sign up</a>
</div>
</div>




<div class="row m-1 p-1">

<div class="col-9">
    <div>
        @Body
    </div>
</div>

</div>

<footer class="bg-light text-center text-lg-start">
<!-- Copyright -->
<div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    <p class="text-dark">&copy; Team 3-11 2022</p>
</div>
<!-- Copyright -->
</footer>
